html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg-light);
    font-family: 'Inter', sans-serif;
    color: #000;
}

body {
    padding: 1rem 3rem;
}

:root {
    --bg-dark: #111118;
    --bg-light: #f1f5f9;
}

a {
    text-decoration: none;
    color: unset;
}

nav {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    font-weight: 600;
    margin: 0 1.5rem;
    transition: 300ms ease;
}

nav ul li:hover {
    filter: drop-shadow(0 0 4px #000);
}

#btn_login {
    padding: .6rem 2rem;
    border-radius: 4px;
    border: 2px solid var(--bg-dark);
    background: var(--bg-dark);
    color: #fff;
    opacity: 1 !important;
}

#btn_login:hover {
    background: #020617;
}

h3 {
    font-weight: 600;
}

.main {
    margin-top: 10svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3svh;
}

.main h1 {
    text-align: center;
    font-size: 3.5rem;
}

.main p {
    text-align: center;
    font-size: 1rem;
    padding: 0 5rem;
}

#upload_box {
    padding: 1rem;
    margin-top: 2rem;
    max-width: 60%;
}

#upload_box form {
    display: flex;
    flex-direction: column;
}


#fileToUpload {
    height: 80%;
}

#inputFile_box {
    border: 2px dashed #000;
    border-radius: 6px;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 8rem;
    max-height: 10rem;
}

#inputFile_box input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#inputFile_box p {
    font-weight: 600;
    font-size: 1.2rem;
}

#btn_submit {
    padding: .8rem 2.5rem;
    background: var(--bg-dark);
    color: #fff;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    opacity: .6;
    cursor:not-allowed;
    transition: 300ms ease;
    width: 100%;
}

#btn_submit:hover {
    filter: drop-shadow(0 0 8px #78716c);
}

#previewBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 20rem;
    max-width: 100%;
    border-radius: 6px;
}

#imgPreview {
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0 0 6px lightgray);
}

#previewBox label {
    font-size: 1rem;
}

#notification {
    position: fixed;
    border: 1px solid rgba(0,0,0,.15);
    bottom: 3rem;
    right: 2rem;
    padding: .3rem 1rem;
    min-width: 20rem;
    max-width: 25rem;
    height: auto;
    border-radius: 6px;
    background: #fff;
    filter: drop-shadow(0 0 8px rgba(0,0,0,.2));
    display: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    z-index: 9999;
}

#notification h3 {
    margin: 1rem 0;
}

#notification p {
    margin-top: 0;
    margin-bottom: 3rem;
}

#not_btn_close {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    max-width: max-content;
    cursor: pointer;
    border: 1px solid #000;
    padding: .5rem .7rem;
    border-radius: 4px;
    transition: 300ms ease;
}

#not_btn_close:hover {
    background: #000;
    color: #fff;
}

#linkToFile {
    text-decoration: underline;
    font-weight: 600;
}


@media only screen and (max-width: 700px){
  html{
      width: 700px;
      overflow: auto;
  }
  nav {
    text-align: center;
    justify-content: center;
  }
  #nav_links {
    display: none;
  }
}